.def {
}

.train {
}

.util {
}

.comp {
    display: flex;
    gap: 20px;
}

.t-def {
    color: red;
}

.t-train {
    color: green;
}

.t-util {
    color: blue;
}

.t-comp {
    color: purple;
}

.liste {
  list-style: none;
  padding-left: 0;
}

.liste ul {
  margin-left: 1.5rem; /* tabulation */
  padding-left: 0;
}

.liste li {
  margin: 0.3rem 0;
}